.header,
.footer {
    padding: 10px;
    display: flex;
    align-items: center;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    color: var(--logo-color);
    font-weight: 500;
}
.header__logo { margin-right: 5px; }

.footer {
    max-width: 1200px;
    margin: 20px auto 0;
    justify-content: flex-end;
}

.hero {
    padding-top: 50px;
    text-align: center;
}
.hero__img {
    width: 50px;
    opacity: .5;
}
.hero__title {
    margin: 0;
    font-size: 40px;
}

.intro {
    max-width: 500px;
    margin: 0 auto;
}

.life-calc { margin-top: 25px; }
.life-calc__form {
    margin: 40px 0;
}
.life-calc__intro,
.life-calc__results{
    font-size: 1.25rem;
    font-weight: 100;
}
.life-calc__intro {
    text-align: center;
}