/* basic block inputs */
label {
    display: block;
    margin-bottom: 20px;
}
label span {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
}

/* range sliders - range.css*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #c9c9cf;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2.2px rgba(0, 0, 0, 0.13), 0px 0px 2px rgba(13, 13, 13, 0.13);
    border: 1px solid #858483;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #c9c9cf;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 3.3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #c9c9cf;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 2.2px rgba(0, 0, 0, 0.13), 0px 0px 2px rgba(13, 13, 13, 0.13);
    border: 1px solid #858483;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 3.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #c9c9cf;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
    background: #c9c9cf;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
    box-shadow: 2px 2px 2.2px rgba(0, 0, 0, 0.13), 0px 0px 2px rgba(13, 13, 13, 0.13);
    border: 1px solid #858483;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 3.3px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #c9c9cf;
}
input[type=range]:focus::-ms-fill-upper {
    background: #c9c9cf;
}
